In [1]:
#sql toolbox
import sqlite3

#create table
conn = sqlite3.connect('mobility.db')



import csv
import pandas as pd

filename = "Raw_data_csv.csv"

In [2]:
def csv_state_tables_list(filename):
    tables = []
    with open(filename , 'r') as csvfile:
        #create csv reader object
        csv_Readout = csv.reader(csvfile)
        #start
        #skip first row of col
        next(csv_Readout)
        for i in csv_Readout:
            if (i[1] != 'DC' and i[1] not in tables):
                tables.append(i[1])
    return tables

In [3]:
# 1 create db of csv data:
def create_table_cohort():
    curs = conn.cursor()
    aq = """CREATE TABLE cohorts(state TEXT, cohort INTEGER, cohort_mean REAL)"""
    curs.execute(aq)

In [4]:
#loads data into db
def load_csv_to_chohorts_db():
    with open(filename, 'r') as csvfile:
        csv_Readout = csv.reader(csvfile)
        next(csv_Readout)
        for data in csv_Readout:
            if data[1] == 'DC':
                continue
            aq = """INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('%s', '%s', '%s')""" %(data[1],data[2],data[3])
            print(aq)
            cur = conn.cursor()
            cur.execute(aq)
            conn.commit()

In [5]:
#creates dic of cohorts collected
def states_date():
    state_List = {tables : [] for tables in csv_state_tables_list(filename)}
    with open(filename, 'r') as csvfile:
        csv_Readout = csv.reader(csvfile)
        next(csv_Readout)
        for i in csv_Readout:
            if i[1] != 'DC':
                a = i[1]
                state_List[a].append(int(i[2]))
            else:
                continue
    return state_List

In [6]:
def state_list():
    return [states for states in states_date()]

In [7]:
def null_Cohorts_Add():
    expt_Cohorts = [1940, 1950, 1960, 1970, 1980]
    for states in states_date():
        if list(set(expt_Cohorts)-set(states_date()[states])) != []:
            for missing in list(set(expt_Cohorts)-set(states_date()[states])):
                aq = """INSERT INTO cohorts(state, cohort, cohort_mean)
                        VALUES ('%s', '%s', '%s')""" %(states,missing, None)
                cur = conn.cursor()
                cur.execute(aq)
                conn.commit()

In [8]:
def sort_New_Data():
    aq = """CREATE TABLE cohort_sorted(state TEXT, cohort INTEGER, cohort_mean REAL)"""
    cur = conn.cursor()
    cur.execute(aq)
    aq = """INSERT INTO cohort_sorted(state, cohort, cohort_mean)
        SELECT 'state', 'cohort', 'cohort_mean'
        FROM cohorts
        ORDER BY cohort ASC;"""
    cur = conn.cursor()
    cur.execute(aq)
    conn.commit()

In [9]:
def create_sorted_cohorts():
    aq = """CREATE TABLE cohorts_sorted(state TEXT, cohort INTEGER, cohort_mean REAL)"""
    cur = conn.cursor()
    cur.execute(aq)
    aq = """INSERT INTO cohorts_sorted ('state', 'cohort', 'cohort_mean')
    SELECT *
    FROM cohorts
    ORDER BY state,cohort ASC;"""
    cur.execute(aq)
    conn.commit()
    aq2 = """UPDATE cohorts_sorted
            SET cohort_mean = NULL 
            WHERE cohort_mean = 'None';
            """
    cur.execute(aq2)
    conn.commit()

In [10]:
def data_base_null_fill():    
    for state in state_list():
        df = pd.read_sql("SELECT cohort_mean FROM cohorts_sorted WHERE state = '%s';"%(state), conn)
        df_interpolate = df.interpolate()
        for index, row in df_interpolate.iterrows():
            # print(row['cohort_mean'])
            with conn:
                q = "UPDATE cohorts_sorted SET cohort_mean = %s WHERE state = '%s'" %(row['cohort_mean'],state)
                conn.execute(q)

In [11]:
csv_state_tables_list(filename)
create_table_cohort()
load_csv_to_chohorts_db()
states_date()
null_Cohorts_Add()
sort_New_Data()
create_sorted_cohorts()
data_base_null_fill()

INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AL', '1940', '0.920000017')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AL', '1950', '0.818000019')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AL', '1960', '0.644999981')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AL', '1970', '0.638999999')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AL', '1980', '0.518999994')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AK', '1940', '0.873000026')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AK', '1960', '0.572000027')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AK', '1970', '0.449999988')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AK', '1980', '0.379000008')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AZ', '1940', '0.88499999')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AZ', '1950', '0.739000022')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AZ', '1960', '0.577000022')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AZ', '1970', '0.574999988')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AZ', '1980', '0.462000012')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AR', '1940', '0.921000004')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AR', '1950', '0.833000004')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AR', '1960', '0.707000017')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AR', '1970', '0.660000026')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('AR', '1980', '0.560000002')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CA', '1940', '0.890999973')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CA', '1950', '0.712000012')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CA', '1960', '0.579999983')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CA', '1970', '0.572000027')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CA', '1980', '0.488000005')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CO', '1940', '0.920000017')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CO', '1950', '0.774999976')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CO', '1960', '0.549000025')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CO', '1970', '0.628000021')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CO', '1980', '0.499000013')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CT', '1940', '0.922999978')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CT', '1950', '0.790000021')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CT', '1960', '0.667999983')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CT', '1970', '0.640999973')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('CT', '1980', '0.518000007')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('DE', '1940', '0.916000009')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('DE', '1950', '0.819000006')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('DE', '1960', '0.708000004')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('DE', '1980', '0.513999999')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('FL', '1940', '0.904999971')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('FL', '1950', '0.772000015')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('FL', '1960', '0.623000026')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('FL', '1970', '0.614000022')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('FL', '1980', '0.458000004')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('GA', '1940', '0.921000004')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('GA', '1950', '0.825999975')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('GA', '1960', '0.629999995')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('GA', '1970', '0.595000029')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('GA', '1980', '0.481999993')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('HI', '1940', '0.944000006')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('HI', '1960', '0.597000003')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('HI', '1970', '0.546000004')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('HI', '1980', '0.5')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('ID', '1940', '0.94599998')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('ID', '1950', '0.811999977')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('ID', '1960', '0.684000015')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('ID', '1980', '0.492000014')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IL', '1940', '0.924000025')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IL', '1950', '0.782000005')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IL', '1960', '0.595000029')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IL', '1970', '0.583000004')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IL', '1980', '0.469999999')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IN', '1940', '0.943000019')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IN', '1950', '0.790000021')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IN', '1960', '0.597000003')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IN', '1970', '0.586000025')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IN', '1980', '0.483999997')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IA', '1940', '0.948000014')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IA', '1950', '0.828999996')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IA', '1960', '0.657000005')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IA', '1970', '0.657000005')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('IA', '1980', '0.540000021')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('KS', '1940', '0.93599999')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('KS', '1950', '0.82099998')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('KS', '1960', '0.663999975')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('KS', '1970', '0.630999982')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('KS', '1980', '0.497000009')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('KY', '1940', '0.91900003')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('KY', '1950', '0.833000004')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('KY', '1960', '0.644999981')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('KY', '1970', '0.700999975')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('KY', '1980', '0.533999979')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('LA', '1940', '0.887000024')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('LA', '1950', '0.800999999')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('LA', '1960', '0.586000025')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('LA', '1970', '0.595000029')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('LA', '1980', '0.532000005')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('ME', '1940', '0.931999981')

INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('ME', '1950', '0.774999976')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('ME', '1960', '0.742999971')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('ME', '1970', '0.667999983')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('ME', '1980', '0.500999987')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MD', '1940', '0.907999992')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MD', '1950', '0.753000021')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MD', '1960', '0.59799999')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MD', '1970', '0.596000016')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MD', '1980', '0.512000024')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MA', '1940', '0.913999975')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MA', '1950', '0.778999984')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MA', '1960', '0.67900002')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MA', '1970', '0.675000012')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MA', '1980', '0.55400002')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MI', '1940', '0.933000028')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MI', '1950', '0.768000007')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MI', '1960', '0.57099998')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MI', '1970', '0.584999979')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MI', '1980', '0.456999987')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MN', '1940', '0.943000019')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MN', '1950', '0.841000021')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MN', '1960', '0.643999994')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MN', '1970', '0.632000029')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MN', '1980', '0.528999984')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MS', '1940', '0.907000005')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MS', '1950', '0.828000009')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MS', '1960', '0.660000026')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MS', '1970', '0.663999975')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MS', '1980', '0.531000018')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MO', '1940', '0.938000023')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MO', '1950', '0.808000028')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MO', '1960', '0.629999995')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MO', '1970', '0.617999971')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MO', '1980', '0.523999989')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MT', '1940', '0.915000021')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MT', '1950', '0.800999999')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MT', '1960', '0.648999989')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('MT', '1980', '0.586000025')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NE', '1940', '0.944999993')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NE', '1950', '0.833000004')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NE', '1960', '0.653999984')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NE', '1970', '0.66900003')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NE', '1980', '0.549000025')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NV', '1940', '0.890999973')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NV', '1950', '0.694999993')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NV', '1960', '0.518999994')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NV', '1970', '0.492000014')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NV', '1980', '0.395000011')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NH', '1940', '0.930000007')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NH', '1950', '0.785000026')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NH', '1960', '0.628000021')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NH', '1970', '0.61500001')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NH', '1980', '0.50999999')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NJ', '1940', '0.898999989')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NJ', '1950', '0.773000002')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NJ', '1960', '0.666999996')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NJ', '1970', '0.643999994')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NJ', '1980', '0.524999976')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NM', '1940', '0.894999981')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NM', '1950', '0.800999999')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NM', '1960', '0.573000014')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NM', '1970', '0.606000006')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NM', '1980', '0.509000003')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NY', '1940', '0.899999976')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NY', '1950', '0.776000023')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NY', '1960', '0.657999992')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NY', '1970', '0.64200002')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NY', '1980', '0.546999991')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NC', '1940', '0.927999973')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NC', '1950', '0.834999979')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NC', '1960', '0.689999998')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NC', '1970', '0.649999976')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('NC', '1980', '0.497999996')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('ND', '1940', '0.936999977')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('ND', '1950', '0.842000008')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('ND', '1960', '0.736000001')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('ND', '1980', '0.593999982')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OH', '1940', '0.930000007')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OH', '1950', '0.779999971')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OH', '1960', '0.58099997')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OH', '1970', '0.579999983')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OH', '1980', '0.479000002')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OK', '1940', '0.938000023')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OK', '1950', '0.816999972')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OK', '1960', '0.648999989')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OK', '1970', '0.57099998')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OK', '1980', '0.512000024')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OR', '1940', '0.920000017')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OR', '1950', '0.764999986')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OR', '1960', '0.55400002')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OR', '1970', '0.601999998')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('OR', '1980', '0.476999998')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('PA', '1940', '0.925999999')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('PA', '1950', '0.814999998')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('PA', '1960', '0.658999979')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('PA', '1970', '0.649999976')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('PA', '1980', '0.538999975')

INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('RI', '1940', '0.907999992')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('RI', '1950', '0.800999999')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('RI', '1960', '0.704999983')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('RI', '1970', '0.667999983')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('RI', '1980', '0.54400003')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('SC', '1940', '0.911000013')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('SC', '1950', '0.828000009')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('SC', '1960', '0.674000025')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('SC', '1970', '0.633000016')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('SC', '1980', '0.493999988')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('SD', '1940', '0.92900002')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('SD', '1950', '0.813000023')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('SD', '1960', '0.75999999')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('SD', '1980', '0.623000026')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('TN', '1940', '0.922999978')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('TN', '1950', '0.814999998')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('TN', '1960', '0.621999979')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('TN', '1970', '0.646000028')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('TN', '1980', '0.495999992')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('TX', '1940', '0.912999988')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('TX', '1950', '0.805000007')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('TX', '1960', '0.612999976')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('TX', '1970', '0.588')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('TX', '1980', '0.504999995')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('UT', '1940', '0.936999977')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('UT', '1950', '0.782999992')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('UT', '1960', '0.643000007')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('UT', '1970', '0.611000001')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('UT', '1980', '0.531000018')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('VT', '1940', '0.917999983')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('VT', '1950', '0.814999998')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('VT', '1960', '0.737999976')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('VT', '1980', '0.474000007')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('VA', '1940', '0.906000018')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('VA', '1950', '0.82099998')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('VA', '1960', '0.652999997')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('VA', '1970', '0.598999977')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('VA', '1980', '0.479000002')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WA', '1940', '0.91900003')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WA', '1950', '0.76700002')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WA', '1960', '0.593999982')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WA', '1970', '0.574999988')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WA', '1980', '0.458000004')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WV', '1940', '0.930000007')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WV', '1950', '0.824000001')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WV', '1960', '0.662')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WV', '1970', '0.583000004')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WV', '1980', '0.499000013')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WI', '1940', '0.944000006')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WI', '1950', '0.810000002')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WI', '1960', '0.629000008')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WI', '1970', '0.637000024')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WI', '1980', '0.505999982')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WY', '1940', '0.913999975')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WY', '1950', '0.750999987')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WY', '1960', '0.628000021')
INSERT INTO cohorts(state, cohort, cohort_mean)
                    VALUES ('WY', '1980', '0.49000001')